
img {
  display: block;
  width: 25%;
  height: auto;
  margin-bottom: 0.5em;
  background-color: #f0eeee;
}
html {
  background-image: url("../images/fondo.jpg");
}

.title-main {
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  color: #43125a;
}

h1 {
  font-size: 40px
}

h3,
h2,
h4 {
  color: #43125a;
}

.links-me {
  position: relative;
  left: 200px;
  width: 400px;
  height: 200px;
  right: 0;
  top: 1px;
}
.footer {
  position: relative;
  margin-bottom: 0;
}

